#color() {
    cordefundo: #f5f6fa;
    corheader: #182C61;
    corcolor: #fff;
    corbutao: #44bd32;
    corbutaohover: #4cd137;

    cordefundomobile: #a4b0be;
    buttoncormobile: #747d8c;
    textcormobile: #2f3542;

    cordefundotablet: #57606f;
    buttoncortablet: #747d8c;
    textcortablet: #2f3542;
}